/*body {
  font-family: sans-serif;
  margin: 0;
  background-color: pink;
  color: #03A9F4; }

.App {
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0rem 17.5rem 6.25rem 17.5rem;
  display: block; }

.Default {
  background-color: pink; }

.posts {
  border: solid 2px orange; }
*/